<header class="header">
  <div class="title"><a routerLink="/" routerLinkActive="active">JWT Authorization App</a></div>
  <nav class="navigation">
    <a routerLink="/" routerLinkActive="active">Start</a>
    <a routerLink="/users" routerLinkActive="active" *ngIf="canAccessUsers()">Users</a>
    <a routerLink="/items" routerLinkActive="active" *ngIf="canAccessItems()">Items</a>
  </nav>
</header>

<div class="router-outlet">
  <router-outlet></router-outlet>
</div>

<footer>
  <div *ngIf="getUsername(); else loggedOut">
    {{ getUsername() }}
    <a (click)="logout()" class="logout">Logout</a>
  </div>
  <ng-template #loggedOut>
    Not logged in
  </ng-template>
</footer>
